#indexアクション　一覧表示

<% @books.each do |book| %>

<strong>Title</strong>
<span>
 <%= link_to book.title,book_path(book.id) %>
</span>

<strong>Body</strong>
<span>
 <%= link_to book.body,book_path(book.id) %>
</span>

<% end %>

<p>Edit</p>
<p>Back</p>
